:root {
    font-size: 16px;
    font-family: 'Open Sans';
    --bg: powderblue;
    --blue: #0077BE;
    --white: #fff;
    --black: #000;
    --green: #bfff80;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
}

/* ---------------- */
/* ---- HEADER ---- */
/* ---------------- */
header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 3rem 0;
    background-image: url("./bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    gap: 3rem;
}
header h1, h2, h3 {
    margin: 0;
    width: min-content;
    z-index: 1;
}
.welcome {
    font-size: 2rem;
}
.introduction {
    color: var(--black);
}

.card {
    width: 80%;
    max-width: 515px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2.5rem;
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: 0 0 0 8px rgba(255, 255, 255, 0.2);
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.card-cover {
    width: 100%;
    height: 160px;
    position: absolute;
    top: -10%;
    left: 0;
    background-image: url("./bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: blur(1.25rem);
    -webkit-filter: blur(1.25rem);
    transform: scale(1.1);
}

.card-header {
    position: relative;
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.card-header img {
    width: 6rem;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) translateY(-64px);
}

.name {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateY(-10px) translateX(-50%);
    white-space: nowrap;
}
.profession {
    opacity: 0.7;
    font-size: 0.85rem;
    font-weight: 400;
    position: absolute;
    bottom: -7.5%;
    left: 50%;
    transform: translateX(-50%) translateY(-7px);
    white-space: nowrap;
    text-transform: uppercase;
    letter-spacing: 1.25px;
}

.card-main {
    width: 85%;
    margin-bottom: 2rem;
}
.card-main h3 {
    font-size: 1.15rem;
}
.card-main p {
    font-size: 0.9rem;
    opacity: 0.8;
}

/* ---------------- */
/* ---- NAVBAR ---- */
/* ---------------- */
.navbar {
    width: 100%;
    height: 5rem;
    background-color: var(--black);
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1;
}

.navbar-nav {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    list-style: none;
}

.username, .logo {
    display: none;
}

.nav-item {
    width: 100%;
}
.nav-item:hover i {
    color: var(--blue);
    transition: 600ms;
}

.nav-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5rem;
    text-decoration: none;
    color: var(--white);
}
.nav-link i {
    font-size: 2rem;
}

.link-text {
    display: none;
    margin-left: 1rem;
}

/* ----------------------- */
/* ---- MEDIA QUERIES ---- */
/* ----------------------- */
@media (min-width: 320px) {
    header h1, h2, h3 {
        width: auto;
    }
}
@media (min-width: 768px) {
    .welcome {
        color: var(--white);
    }

    body{
        overflow: hidden;
    }
    header {
        margin-left: 2.5rem;
        flex-direction: row;
        gap: 1.5rem;
    }
    main {
        margin-left: 5rem;
        padding: 1rem;
        overflow: none;
    }

    .card {
        width: 40%;
    }

    .navbar {
        width: 5rem;
        height: 100vh;
        position: fixed;
        transition: width 500ms;
    }
    .navbar:hover {
        width: 16rem;
    }
    .navbar:hover .link-text {
        display: block;
    }

    .navbar-nav {
        height: 100%;
        flex-direction: column;
    }

    .nav-item:last-child {
        margin-top: auto;
    }

    .logo {
        display: block;
    }
    .logo img {
        width: 2.75rem;
        transition: width 500ms ease;
    }

    .username {
        display: block;
        width: 100%;
        font-weight: bold;
        letter-spacing: 0.3ch;
    }
    .username-text {
        margin: 0 0.5rem 0 0;
        font-size: 1.5rem;
    }
    .username i {
        transform: rotate(0deg);
        transition: transform 600ms;
    }
    .navbar:hover .username i {
        transform: rotate(-180deg);
    }
    .username:hover i {
        color: var(--blue);
        transition: 600ms;
    }
}


@media (min-width: 1024px) {
    header {
        gap: 5rem;
    }
    .card {
        max-width: 515px;
    }
}