:root {
    font-size: 16px;
    font-family: 'Nunito';
    --blue: #0077BE;
    --white: #fff;
    --black: #000;
    --blue-bg: lightblue;
}
* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    background-color: var(--black);
    overflow-x: hidden;
}

/* ---------------- */
/* ---- NAVBAR ---- */
/* ---------------- */
.logo img {
    width: 3rem;
}

nav {
    width: 100%;
    padding: 0.5rem 0rem;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    position: sticky;
    position: -webkit-sticky;
    background-color: var(--black);
    z-index: 1;
}
.navbar {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar h2 {
    font-family: 'Permanent marker';
    font-size: 2rem;
}
.nav-header .letter {
    font-size: 2.5rem;
    color: var(--blue);
}
.push {
    margin-left: auto;
}

.nav-links {
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.25rem;
    color: var(--white);
    text-decoration: none;
    padding: 0.75rem;
}
.nav-item i {
    font-size: 1.75rem;
}
.nav-item span {
    font-size: 13px;
}
.nav-item:hover {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1);
}

/* ---------------- */
/* ---- HEADER ---- */
/* ---------------- */
header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightgray;
}
.header-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 3rem;
    padding: 3rem 0;
}

.card {
    width: 80%;
    max-width: 515px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2.5rem;
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: 0 0 0 8px rgba(255, 255, 255, 0.2);
    overflow: hidden;
    position: relative;
}

.card-cover {
    width: 100%;
    height: 160px;
    position: absolute;
    top: -10%;
    left: 0;
    background-image: url("./bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: blur(1.25rem);
    -webkit-filter: blur(1.25rem);
    transform: scale(1.1);
}

.card-header {
    position: relative;
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.card-header img {
    width: 6rem;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) translateY(-64px);
}

.name {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateY(0px) translateX(-50%);
    white-space: nowrap;
    font-size: 2.2rem;
}
.profession {
    opacity: 0.7;
    font-size: 0.85rem;
    font-weight: 400;
    position: absolute;
    bottom: -10%;
    left: 50%;
    transform: translateX(-50%) translateY(-7px);
    white-space: nowrap;
    text-transform: uppercase;
    letter-spacing: 1.25px;
}

.card-main {
    width: 90%;
    margin-bottom: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-main p {
    font-size: 0.9rem;
    opacity: 0.8;
}

.topics {
    flex-wrap: wrap;
    gap: 0.5rem;
}
.topics p {
    margin: 0;
    padding: 10px;
    border-radius: 10px;
    border: 0.5px solid var(--black);
    background-color: var(--white);
}
.topics .programming i {
    margin-left: 5px;
    font-size: 0.9rem;
    color: green;
}
.topics .teamwork i {
    margin-left: 5px;
    font-size: 1rem;
}
.topics .reactjs i {
    margin-left: 5px;
    font-size: 1.1rem;
    color: var(--blue);
}
.topics .html i {
    margin-left: 5px;
    font-size: 1.1rem;
    color: orange;
}
.topics .css i {
    margin-left: 5px;
    font-size: 1.1rem;
    color: var(--blue);
}
.topics .javascript i {
    margin-left: 5px;
    font-size: 1.1rem;
    color: #f0bd4f;
}
.topics .java i {
    margin-left: 5px;
    font-size: 1.2rem;
    color: red;
}
.topics .git i {
    margin-left: 5px;
    font-size: 1.2rem;
    color: #f1502f;
}
.topics .detail-oriented i {
    margin-left: 5px;
    font-size: 1rem;
}

.about {
    width: 90%;
}
.about h2, .about p {
    margin-bottom: 1rem;
}
.about h2 {
    margin-top: 1rem;
    text-align: center;
}

.socials-wrapper {
    padding: 0;
    margin: 2.5rem 0 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
.socials-wrapper a {
    all: unset;
    border-radius: 50%;
    margin: 10px;
}
.socials-wrapper .social-icon {
    position: relative;
    background: #ffffff;
    border-radius: 50%;
    padding: 15px;
    width: 50px;
    height: 50px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.socials-wrapper .tooltip {
    position: absolute;
    top: 0;
    font-size: 14px;
    background: #ffffff;
    color: #ffffff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.socials-wrapper .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: #ffffff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.socials-wrapper .social-icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
.socials-wrapper .social-icon:hover span,
.socials-wrapper .social-icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}
.socials-wrapper .github {
    border: 1px solid #333333;
}
.socials-wrapper .github:hover .social-icon,
.socials-wrapper .github:hover .social-icon .tooltip,
.socials-wrapper .github:hover .social-icon .tooltip::before {
    background: #333333;
    color: #ffffff;
}
.socials-wrapper .linkedin {
    border: 1px solid #1877F2;
}
.socials-wrapper .linkedin i{
    color: #1877F2;
}
.socials-wrapper .linkedin:hover i {
    color: #ffffff;
}
.socials-wrapper .linkedin:hover .social-icon,
.socials-wrapper .linkedin:hover .social-icon .tooltip,
.socials-wrapper .linkedin:hover .social-icon .tooltip::before {
    background: #1877F2;
    color: #ffffff;
}
.social-icon i {
    font-size: 2rem;
}

/* ---------------------- */
/* ---- WORK SECTION ---- */
/* ---------------------- */
#experience {
    width: 100%;
    padding: 50px 0 60px;
    position: relative;
    background-color: steelblue;
}
#experience h2 {
    color: var(--white);
    text-align: center;
}

.experience-wrapper{
    width: 85%;
    max-width: 1400px;
    margin: 50px auto;
    position: relative;
}
.experience-wrapper .center-line{
    position: absolute;
    height: 100%;
    width: 4px;
    background: #fff;
    left: 20px;
    top: 20px;
    transform: translateX(-50%);
}
.experience-wrapper .row{
    display: flex;
    margin: 30px 0 3px 60px;
}
.experience-wrapper .row-1{
    justify-content: flex-start;
}
.experience-wrapper .row-2{
    justify-content: flex-end;
}
.experience-wrapper .row section{
    width: 100%;
    padding: 20px;
    border-radius: 5px;
    position: relative;
    background: #fff;
}
.experience-wrapper .row section::before{
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    background: #fff;
    top: 28px;
    transform: rotate(45deg);
}

.row-1 section::before{
    left: -7px;
}
.row-2 section::before{
    left: -7px;
}
.row section .icon,
.center-line .scroll-icon{
    position: absolute;
    background: #f2f2f2;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: var(--blue);
    font-size: 17px;
    box-shadow: 0 0 0 4px #fff, inset 0 2px 0 rgba(0,0,0,0.08), 0 3px 0 4px rgba(0,0,0,0.05);
}
.center-line .scroll-icon{
    bottom: -30px;
    left: 50%;
    font-size: 25px;
    transform: translateX(-50%);
}
.center-line .scroll-icon i {
    vertical-align: middle;
}
.row-1 section .icon{
    top: 15px;
    left: -60px;
}
.row-2 section .icon{
    top: 15px;
    left: -60px;
}
.row section .job-details,
.row section .bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}
.row section .job-details .job-title h3{
    font-size: 22px;
    font-weight: 700;
}
.row section .job-details .job-title span{
    font-size: 0.9rem;
    color: gray;
}
.row section .job-details span {
    text-align: end;
}
.row section .description {
    padding: 0.9rem 0 0 1.25rem;
}

/* ---------------- */
/* ---- FOOTER ---- */
/* ---------------- */
footer {
    padding: 1.5rem 3rem 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    text-align: center;
    background-color: var(--black);
}

/* ----------------------- */
/* ---- MEDIA QUERIES ---- */
/* ----------------------- */
@media (min-width: 768px) {    
    .nav-links {
        gap: 3rem;
    }

    .header-wrapper {
        max-width: 85%;
        flex-direction: row;
        padding: 4rem 0;
    }
    .about h2 {
        text-align: left;
    }

    .experience-wrapper .center-line {
        left: 50%;
    }
    .experience-wrapper .row {
        margin: 0;
    }
    .experience-wrapper .row section {
        width: calc(50% - 80px);
    }
    .row-1 section::before{
      right: -7px;
      left: auto;
    }
    .row-1 section .icon{
      right: -60px;
      left: auto;
    }
}


@media (min-width: 1024px) {
    .header-wrapper {
        gap: 5rem;
    }
}